@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --principal: #F97432;
    --secondaire: #f9C87C;
  }
.container{

}

.container .logo{
    margin-left: 10px;
    font-size: 30px;
}

.container .nav{
    height: 10vh;
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container .nav ul{
    display: flex;
    justify-content: space-around;
}
.container .nav li{
    margin-right: 20px;
    list-style: none;
}

.container .slide{
    background-image: linear-gradient(rgb(0,0,0,0.6),transparent),url(images/slide.jpg);
    background-repeat: no-repeat;
background-size: cover;
height: 90vh;
color: white;

}

.container .slide .titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
}
.container .slide .titre h1{
    font-size: 45px;
}
.container .slide .titre p{
    margin: 15px 40px;
    text-align: center;
    font-size: 20px;
}
.container .slide .titre .btn{
    padding: 5px 30px;
    font-size: 20px;
    background-color: var(--principal);
    border: none;
    color: white;
}
